body{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #222222;
    color: #eeeeee;
}

nav {
    font-size: 2em;
    align-self:flex-end;
    font-family: 'Courier New', monospace;
}

a {
    text-decoration: none;
}

a:link{
    color: #36c8f1;
}

a:visited {
    color: #36c8f1;
}

a:active {
    color: #36c8f1;
}

a:hover{
    color: #aaaaaa;
}


p {
    font-size: 16px;
}

h1 {
    font-family: 'Courier New', monospace;
    font-size: 4em;
}

h2 {
    font-family: 'Courier New', monospace;
    font-size: 2em;
}

header {
    padding-bottom: 1em;
    margin-bottom: 2em;
    border-bottom: solid #eeeeee 1px;
    text-align:right;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: solid #eeeeee 1px;
    text-align:right;
}



.centered{
text-align: center;
}

.code-block{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;

    padding: 2em;

    background-color: #333333;
    border-radius: 25px;
    border: solid #ffffff 1px;
    color: #ffffff;
    font-family: 'Courier New', monospace;
    font-size: 14px;
}

.container {
    display: flex;
    justify-content: space-bewteen;
  
  }

.theme-thumb {
    margin: 25px;
    color: #eeeeee;
  }

.page-samples{
      width: 100%;
      height: 75vh;
  }

.code-block ul {
    list-style-type:none;
    font-size: 14px;
}

li.commented {
    color: #72b37c;
}

li.dived {
    color: #e2b470;
}

#main-logo{
    height: 3em;
    padding-left: 2em;
    padding-right: 2em;
}

/*Animations*/
@keyframes fading {
    0%   {opacity: 1;}
    25%  {opacity: 0.6;}
    50%  {opacity: 0.2;}
    75%  {opacity: 0.6;}
    100% {opacity: 1;}
  }
  
  @keyframes bounce {
    0%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-1em);}
  }

  div.bounce:hover {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
  }

  div.fading:hover {
    animation-name: fading;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
  }


.mySlides {display: none;}