body {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    margin-bottom: 5%;  
    
    background-color: #d6e7f2;
}

header {
    text-align: center;
    margin-bottom: 2em;
}

footer {
    margin-top: 2em;
    padding-top: 1em;
    border-top: solid #aaaaaa 1px;
    text-align:right;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
    font-size: 3em;
    color: #02061d;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 2em;
    color: #02061d;
}

h3 {
    font-family: 'Playfair Display', serif;
}

nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
}

nav a{
    text-decoration: none;
    color: #2e73b0;
}

a {
    text-decoration: none;
    color: #02061d;
}

a:hover {
    color: #8ac0cb;
}

.subtitle {
    font-style: italic;
}

.content-block {
    margin: 2em 5% 2em 5%;
}

.circle {
    border-radius: 50%;
    width: 240px;
    height: 240px;
    padding: 1em;
    margin: 2em;
    background-color: #02245e;
    color: #ffffff;
    align-content:inline-block;
    text-align:center;
    filter: drop-shadow(0 0 0.75rem #999999);
  }

  img.circle {
      padding: 0em;
      width: 240px;
      height: 240px;
  }

/*Containers*/
.flex-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    filter: drop-shadow(0 0 0.75rem #999999);
}

.flex-container img {
    padding: 0em;
}

.flex-one-whole{
    flex: 1 1 0px;
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #ffffff;
    padding: 2em;
}

.flex-one-half{
    flex: 1 1 0px;
    width: 50%;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #ffffff;
    padding: 2em;
}

.flex-one-third{
    flex-shrink: 1;
    width: 33%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
    background: #ffffff;
}

.flex-two-thirds{
    flex-shrink: 1;
    width: 66%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
    background: #ffffff;
}

.flex-one-quarter{
    flex-shrink: 1;
    width: 25%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
    background: #ffffff;
}

.flex-three-quarters{
    flex-shrink: 1;
    width: 75%;
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 2em;
    background: #ffffff;
}

/*Animations*/
@keyframes fading {
    0%   {opacity: 1;}
    25%  {opacity: 0.6;}
    50%  {opacity: 0.2;}
    75%  {opacity: 0.6;}
    100% {opacity: 1;}
  }
  
@keyframes bounce {
    0%, 100% {transform: translateY(0);} 
    50% {transform: translateY(-1em);}
}

div.bounce:hover {
    animation-name: bounce;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-iteration-count: infinite;
}

div.fading:hover {
    animation-name: fading;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}